.universal-header {
  color: #f1f3f6;
  padding-left: 16px;
  padding-bottom: 15px;
}

.nav {
  font-size: 20px;
}

.nav__tab {
  color: #a4b8d3;
}

.nav__tab--selected {
  color: #1d4fae;
}

.nav__tab:first-child {
  padding-right: 5%;
}

a {
  text-decoration: none;
}
